<div *ngIf="!this.question" class="quiz">
  <mat-card>
    <h1>Retrieving Question</h1>
  </mat-card>
</div>
<div *ngIf="this.question">
  <mat-card>
    <div class="quiz">
      <h1>Quiz</h1>
      <quill-editor
        [modules]="displayQuillConfig"
        [readOnly]="true"
        [(ngModel)]="question.questionBody"
        id="displayQuillConfig"
      >
      </quill-editor>
      <form [formGroup]="form" (ngSubmit)="submit()" class="question-add-form">
        <ng-container *ngIf="!question.isMultiple">
          <div *ngFor="let answer of question?.answers">
            <input type="radio" formControlName="answer" value="{{answer}}">
            <label class="custom-control-label">{{answer}}</label>
          </div>
        </ng-container>
        <ng-container *ngIf="question.isMultiple">
          <div *ngFor="let answer of question?.answers">
            <input type="checkbox" name="answers" value="{{answer}}" (change)="checkCheckBoxvalue($event)">
            <label>{{answer}}</label>
          </div>
        </ng-container>
        <br>
        <button class="form-field" type="submit" mat-flat-button color="primary">Next</button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button class="form-field" type="button" mat-flat-button color="primary" (click)="finishAttempt()">Finish Attempt</button>
      </form>
    </div>
  </mat-card>
</div>
