<app-teacher-navbar></app-teacher-navbar>
<div class="host">
  <mat-card>
    <div>
      <mat-card-title>Your Tests:</mat-card-title>
      <div class="gradeTable">
        <table>
          <thead>
          <tr>
            <th><h2>Test</h2></th>
            <th><h2>Status</h2></th>
            <th><h2>Monitor</h2></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let test of tests">
            <td><h3>{{test.testCode}}</h3></td>
            <td>
              <button class="form-field" type="button" mat-flat-button color="primary" (click)="changeTestStatus(test._id)">
                <mat-icon>{{test.isOpen ? "clear":"check"}}</mat-icon>
              </button>
            </td>
            <td>
              <button class="form-field" type="button" mat-flat-button color="primary" (click)="monitor(test.testCode)" [disabled]=!test.isOpen>
                <mat-icon>videocam</mat-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card>
</div>
