quill-editor{
  background-color: white;
  max-width: 630px;
}

.displayQuillConfig {
  max-width: 630px;
}

.form-field-title{
  font-weight: bold;
}

.question-add-form{
  padding: 20px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

data-cell {
  padding-right: 100px;
}

.form-field {
  width: 100%;
}

.crud {
  vertical-align: top;
}
