quill-editor{
  background-color: white;
}

.form-field-title{
  font-weight: bold;
}

.question-add-form{
  padding: 20px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

data-cell {
  padding-right: 100px;
}
