<app-teacher-navbar/>
<table class="center">
  <tr>
    <td>
      <mat-card>
        <form [formGroup]="form" (ngSubmit)="submit()" class="question-add-form">
          <h1 class="form-field-title">Question Body</h1>
          <quill-editor
            [modules]="quillConfig"
            formControlName="questionBody"
            [required]="true"
          >
          </quill-editor>
          <br/>
          <br/>
          <mat-form-field class="form-field">
            <mat-label>Right answers:</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10"
              formControlName="rightAnswers"
              required
            ></textarea>
          </mat-form-field>
          <br/>
          <mat-form-field class="form-field">
            <mat-label>Wrong answers:</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10"
              formControlName="wrongAnswers"
              required
            ></textarea>
          </mat-form-field>
          <br/>
          <mat-label>Difficulty:</mat-label>
          <mat-slider min="1" max="10" step="1" class="form-field" discrete>
            <input matSliderThumb formControlName="difficulty">
          </mat-slider>
          <br/>
          <button class="form-field" type="submit" mat-flat-button color="primary">Submit</button>
        </form>
      </mat-card>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
      <mat-card>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let question of questionList">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <quill-editor
                  [modules]="displayQuillConfig"
                  [readOnly]="true"
                  [(ngModel)]="question.questionBody"
                  id="displayQuillConfig"
                >
                </quill-editor>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-label>Right Answers:</mat-label>
            <ul>
              <li *ngFor="let answer of question.rightAnswers">
                {{answer}}
              </li>
            </ul>
            <br/>
            <mat-label>Wrong Answers:</mat-label>
            <ul>
              <li *ngFor="let answer of question.wrongAnswers">
                {{answer}}
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </td>
  </tr>
</table>


