<mat-card>
  <img ngSrc="/assets/login-form-image.png" alt="" priority height="240" width="360">
  <mat-card-title>Sign Up</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p *ngIf="error" class="error">
        {{ error }}
      </p>
      <br/>
      <p>
        <mat-form-field [style.width.px]=300 appearance="outline">
          <mat-label>Email Address</mat-label>
          <input type="text" matInput placeholder="Email Address" formControlName="username">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field [style.width.px]=300 appearance="outline">
          <mat-label>Password</mat-label>
          <input [type]="showPassword ? 'text' : 'password'" matInput placeholder="Password" formControlName="password">
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{showPassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field [style.width.px]=300 appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input [type]="showConfirmedPassword ? 'text' : 'password'" matInput placeholder="Confirm Password" formControlName="confirmedPassword">
          <mat-icon matSuffix (click)="toggleConfirmedPasswordVisibility()">
            {{showConfirmedPassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </mat-form-field>
      </p>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <div class="button">
            <button type="submit" mat-flat-button color="primary">Register</button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="button">
            <button type="button" mat-flat-button color="primary" (click)="router.navigate(['/login'])">Back to Login</button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-card>

