/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {
  background: radial-gradient(circle at 16.6% 12%, rgb(64, 0, 126) 30.8%, rgb(255, 191, 0) 100.2%);
  background-attachment: fixed;
}
