#app {
  text-align: center;
}

.container {
  position: relative;
  overflow: hidden;
}

.over {
  width: 100px;
  height: 100px;
  min-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.8;
}

.over video {
  width: 50px;
  display: none;
}
